html, body {
    background-color: black;

    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

h1 {
    color: white;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
    color: darkgray;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}